@using CoffeStore.EL;
@model HomeClass
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Haqqında Yenilə</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">İdarəetmə</a>
            </li>
            <li class="breadcrumb-item">
                Haqqında
            </li>
            <li class="breadcrumb-item active">
                <strong>Haqqında Yenilət</strong>
            </li>
        </ol>
    </div>
</div>
<br />
<br />
<div class="ibox-content">
    @using (Html.BeginForm("Update", "AdminHome", FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.Id)
        <br />
        <br />
        <label for="validationCustom01">Başlıq 1</label>
        @Html.TextBoxFor(x=>x.Title, new {@class ="form-control"})
        <br />
        <br />
        <br />
        <label for="validationCustom01">Başlıq 2</label>
        @Html.TextBoxFor(x=>x.Title2, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">Mövzu 1</label>
        @Html.TextBoxFor(x=>x.About, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">Mövzu 2</label>
        @Html.TextBoxFor(x=>x.About2, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">Haqqında 1</label>
        @Html.TextBoxFor(x=>x.Description, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">Haqqında 2</label>
        @Html.TextBoxFor(x=>x.Description2, new {@class ="form-control"})
        <br />
        <label for="validationCustom01">Şəkil 1</label>
        @Html.TextBoxFor(x=>x.Image1, new {@class ="form-control"})
        <br />
        <label for="validationCustom01">Şəkil 2</label>
        @Html.TextBoxFor(x=>x.Image2, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">Şəkil 3</label>
        @Html.TextBoxFor(x=>x.Image3, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">YT Video 1</label>
        @Html.TextBoxFor(x=>x.YTVideo1, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">YT Video 2</label>
        @Html.TextBoxFor(x=>x.YTVideo2, new {@class ="form-control"})
        <br />
        <label for="validationCustom01">Banner 1</label>
        @Html.TextBoxFor(x=>x.BannerTitle, new {@class ="form-control"})
        @Html.TextBoxFor(x=>x.BannerAbout, new {@class ="form-control"})
        @Html.TextBoxFor(x=>x.BannerDescription, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">Banner 2</label>
        @Html.TextBoxFor(x=>x.BannerTitle2, new {@class ="form-control"})
        @Html.TextBoxFor(x=>x.BannerAbout2, new {@class ="form-control"})
        @Html.TextBoxFor(x=>x.BannerDescription2, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">Banner 3</label>
        @Html.TextBoxFor(x=>x.BannerTitle3, new {@class ="form-control"})
        @Html.TextBoxFor(x=>x.BannerAbout3, new {@class ="form-control"})
        @Html.TextBoxFor(x=>x.BannerDescription3, new {@class ="form-control"})
        <br />
        <br />
        <label for="validationCustom01">Banner 4</label>
        @Html.TextBoxFor(x=>x.BannerTitle4, new {@class ="form-control"})
        @Html.TextBoxFor(x=>x.BannerAbout4, new {@class ="form-control"})
        @Html.TextBoxFor(x=>x.BannerDescription4, new {@class ="form-control"})
        <br />
        <button type="submit" id="btn1" class="btn btn-primary submit mb-4">Təsdiqlə</button>


    }

</div>

